body {
    background-color: black;
}

#settings {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

textarea {
    resize: none;
    background-color: black;
    color: rgb(0, 255, 0);
    border: 2px solid rgb(0, 255, 0);
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    height: 24px;
}

button {
    background-color: black;
    color: rgb(0, 255, 0);
    border: 2px solid rgb(0, 255, 0);
    border-radius: 5px;
    font-weight: bold;
}

button:hover {
    background-color: rgb(32, 32, 32);
}

#serialSelect {
    background-color: black;
    color: rgb(0, 255, 0);
    border: 2px solid rgb(0, 255, 0);
    border-radius: 5px;
    font-weight: bold;
}

#debug {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#main {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 90vh;
    gap: 5px;
    
}

#sonar {
    flex-grow: 1;
}

label {
    color: rgb(0, 255, 0);
    font-family: 'Arial';
}